.nav a {
    color: #939393;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 14px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

.jumbotron {
    background-image: url('../img/bg1.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    top: 130px;
}

.jumbotron h1 {
    color: #fff;
    font-size: 50px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: #5D5D5D;
}

.learn-more {
    background-color: #C9C9C9;
}

.learn-more h3 {
    font-family: 'Shift', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.learn-more a {
    color: #ffffff;
}
